  <table>
    <tr>
      <td>Real Name:</td>
      <td><%= @user.real_name %></td>
    </tr>
    <tr>
      <td>Position Title:</td>
      <td><%= @user.position_title %></td>
    </tr>
    <tr>
      <td>Section:</td>
      <td><%= @user.section %></td>
    </tr>
    <tr>
      <td>Company Name:</td>
      <td><%= @user.company_name %></td>
    </tr>
    <tr>
      <td>Company Telephone:</td>
      <td><%= @user.company_tel %></td>
    </tr>
    <tr>
      <td>Company Email:</td>
      <td><%= @user.company_email %></td>
    </tr>
  </table>